{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}

<div class="container">


<h1> Register </h1>
<br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
			<div class="col-md">

        <table class="table">
            <div class="row justify-content-center">
                  <div class="col-sm-4">
                    <div class="card">

                    <p><label for="id_username"><br>Username</label><br>
                    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
                    </p>

                    <p><label for="id_password1">Password</label> <br>
                    <input type="password" name="password1" autocomplete="new-password" required id="id_password1"></p>

                    <p><label for="id_password2">Confirm Password</label><br>
                    <input type="password" name="password2" autocomplete="new-password" required id="id_password2"></p>
                    </div>
                  </div>
            </div>

        <span class="helptext">
            <br><h2>Tips for Safe Password</h2>
            Your password can’t be too similar to your other personal information.
            <br>Your password must contain at least 8 characters.<br>Your password can’t be a commonly used password.
            <br>Your password can’t be entirely numeric.<br/></span>
        </table>

        <div class="row justify-content-center">
            <div class="col-sm-4 ">
            <button class="btn btn-secondary btn-md"> Register </button>
            </div>
        </div>

</div>
</div>
</form>
</div>
</div>

{% endblock %}