{% extends 'base.html' %}
{% block title %} Introduction {% endblock %}
{% block content %}

<h1> goal edit </h1>

card box

<div class="col-md">
    <div class="card card-body">
        <h4> Edit your Goal {{object.title}} </h4>
    </div>
<br>
    <div class="card" style="width: auto;">
        <div class="row justify-content-center">
        </div>
        <div class="card-body">
        <h5 class="card-title"></h5>
    <p class="card-text">{{object.description}} <br> {{object.tags}}</p>
  </div>
      <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
      </form>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Difficulty: {{object.difficulty}}</li>
    <li class="list-group-item"> Instructor: {{object.instructor}}</li>
    <li class="list-group-item"> Last Updated: {{object.last_updated}}</li>
    <li class="list-group-item">Language: {{object.language}}</li>
    <li class="list-group-item"> Duration: {{object.estimated_learning_hours}}</li>
  </ul>
  <div class="card-body">
<!-- Button Cancel Save  Delete  -->
    <button class="btn btn-secondary"> Cancel </button>
    <button class="btn btn-secondary"> Save </button>
    <button class="btn btn-secondary"> Delete </button>
  </div>
</div>
</div>




  <!-- Footer -->
{% include 'footer.html' %}

{% endblock content %}