
<!--  footer -->
<br>
   <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://velog.io/@daylee/">

                  <img class="velog" src="https://www.flaticon.com/premium-icon/icons/svg/3097/3097105.svg">
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>-->

              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/day-lee/">

                  <img class="github" src="https://www.flaticon.com/premium-icon/icons/svg/3291/3291695.svg"></a>
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="far fa-sticky-note fa-stack-1x fa-inverse"></i>-->

              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/">

                  <img class="linkedin" src="https://www.flaticon.com/svg/static/icons/svg/1384/1384046.svg">
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="far fa-envelope fa-stack-1x fa-inverse"></i>-->

              </a>
            </li>
          </ul>
          <p class="copyright text-muted" style="text-align: center">&copy; Copyright 2021 Daylee's Tutorial Hub</p>
        </div>
      </div>
    </div>
  </footer>


<!--footer 2 css sizing needed-->

<!--            <a class="footer-link" href="https://www.linkedin.com/"><img class="linkedin" src="https://www.flaticon.com/svg/static/icons/svg/1384/1384046.svg"></a>-->
<!--            <a class="footer-link" href="https://github.com/day-lee/"><img class="github" style="width: 2.5rem; height:2.5rem"  src="https://www.flaticon.com/premium-icon/icons/svg/3291/3291695.svg"></a>-->
<!--            <a class="footer-link" href="https://velog.io/@daylee/"><img class="velog" src="https://www.flaticon.com/premium-icon/icons/svg/3097/3097105.svg"></a>-->

<!--css-->
<!--	.velog {-->
<!--		width: 55px;-->
<!--		height: 55px;-->
<!--		border-radius: 30%;-->
<!--	}-->

<!--	.linkedin {-->
<!--		width: 55px;-->
<!--		height: 55px;-->
<!--		border-radius: 30%;-->
<!--	}-->

<!--	.github {-->
<!--		width: 55px;-->
<!--		height: 55px;-->
<!--		border-radius: 30%;-->
<!--	}-->