{% extends 'base.html' %}
{% block title %} {% endblock %}
  <!-- Page Header -->
  {% include 'header.html' %}

{% block content %}
<body>

  <section class="white-section" id="title">

    <div class="container-fluid">

      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h2 class="big-heading">
           Build your own curriculum <br> with a curated database.</h2>
          <button type="button" class="btn btn-dark btn-lg download-button"> Register for Free</button>
        </div>
        <div class="col-lg-6">
          <img class="title-image" src="images/iphone6.png" alt="gif/photo">
        </div>

      </div>

    </div>

  </section>

</br></br>
  <!-- Features -->

  <section class="colored-section" id="features">
    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use</h3>
          <p>Filter and Add to your curriculum.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">All levels</h3>
          <p>Beginner to Advanced level tutorials.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Quality Guaranteed</h3>
          <p>Find the best free tutorials or your money back.</p>
        </div>
      </div>

    </div>
  </section>

  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">Pricing</h2>
    <p>Daylee's Tutorial Hub provides a list of <br> free Python and Django tutorials on the internet.</p>

    <div class="row justify-content-center">
      <div class="pricing-column col-sm-4">
        <div class="card">
              <div class="card-header">
                <h2>Lifetime Access</h2>
                <h2 class="price-text">$20</h2>
              </div>

              <div class="card-body">

                <p>Personalised Curriculum</p>
                <p>Filter to find the perfect tutorial</p>
                <p>Beginner to Advanced level</p>
                <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
              </div>
        </div>
      </div>
    </div>

  </section>



    </div>
  </section>
</body>

  <!-- Footer -->
{% include 'footer.html' %}



{% endblock content %}

